{{time}} [{{thread}}] {{level}} {{class}}{{#groups}} &ndash; [{{.}}]{{/groups}}{{#source}} &ndash; \{@{{.}}\}{{/source}}{{{message}}}{{#cause}}
{{^$.first}}caused by {{/$.first}}{{class}} &ndash; {{message}}{{#stacktrace}}
<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.}}
{{/stacktrace}}